<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ck</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ck.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>text/plain</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ChucK Script</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>miniAudicleDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>miniAudicle</string>
	<key>CFBundleGetInfoString</key>
	<string>miniAudicle 0.2.1a</string>
	<key>CFBundleIconFile</key>
	<string>miniAudicle</string>
	<key>CFBundleIdentifier</key>
	<string>org.miniAudicle.miniAudicle</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.1a</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.2.1a</string>
	<key>NSMainNibFile</key>
	<string>miniAudicle</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
