[submodule "src/chuck"]
	path = src/chuck
	url = https://github.com/ccrma/chuck.git
[submodule "src/chugins"]
	path = src/chugins
	url = https://github.com/ccrma/chugins.git
[submodule "src/libs/chuckpad-social"]
	path = src/libs/chuckpad-social
	url = git@github.com:markcerqueira/chuckpad-social-ios.git
[submodule "src/chugl"]
	path = src/chugl
	url = https://github.com/spencersalazar/chugl.git
