[submodule "src/chuck"]
	path = src/chuck
	url = https://github.com/ccrma/chuck.git
[submodule "src/chugins"]
	path = src/chugins
	url = https://github.com/ccrma/chugins.git
[submodule "src/chump"]
	path = src/chump
	url = git@github.com:ccrma/chump.git
