*.o
*.d
.DS_Store

src/macosx/miniAudicle.app
src/Release
src/Debug
src/build
src/miniAudicle
src/*.dmg
src/git-rev.h

src/miniAudicle.xcodeproj/project.xcworkspace
src/miniAudicle.xcodeproj/xcuserdata
src/miniAudicle.pro.user.*
src/miniAudicle.pro.user
src/makefile.qt
src/makefile.qt-*

installer/mac/*.pkg
installer/mac/miniAudicle.app
installer/mac/chuck
installer/mac/*.chug

installer/windows/*.msi
installer/windows/*.wixobj
installer/windows/*.chug
installer/windows/chuck.exe
installer/windows/miniAudicle.exe

build-miniAudicle-*

src/ios/default.xcconfig

# AppCode 
src/.idea/