.type_HidMsg { color: #800023; }
.type_Hid { color: #800023; }
.type_SerialIO { color: #800023; }
.type_ABSaturator { color: #A200EC; }
.type_Bitcrusher { color: #A200EC; }
.type_AmbPan3 { color: #A200EC; }
.type_Elliptic { color: #A200EC; }
.type_FIR { color: #A200EC; }
.type_GVerb { color: #A200EC; }
.type_KasFilter { color: #A200EC; }
.type_MAUI_Element { color: #800023; }
.type_MAUI_Slider { color: #800023; }
.type_MAUI_View { color: #800023; }
.type_MAUI_Button { color: #800023; }
.type_MAUI_LED { color: #800023; }
.type_MAUI_Text { color: #800023; }
.type_MAUI_Gauge { color: #800023; }
.type_Pan4 { color: #A200EC; }
.type_Pan8 { color: #A200EC; }
.type_Pan16 { color: #A200EC; }
.type_PitchTrack { color: #A200EC; }
.type_PowerADSR { color: #A200EC; }
.type_Spectacle { color: #A200EC; }
.type_WinFuncEnv { color: #A200EC; }
.type_void { color: blue; }
.type_int { color: blue; }
.type_float { color: blue; }
.type_time { color: blue; }
.type_dur { color: blue; }
.type_complex { color: blue; }
.type_polar { color: blue; }
.type_Object { color: #800023; }
.type_string { color: #800023; }
.type_UGen { color: #A200EC; }
.type_UAna { color: #A200EC; }
.type_UAnaBlob { color: #800023; }
.type_Shred { color: #800023; }
.type_Thread { color: #800023; }
.type__function { color: #800023; }
.type_Class { color: #800023; }
.type__array { color: #800023; }
.type_Event { color: #800023; }
.type_IO { color: #800023; }
.type_FileIO { color: #800023; }
.type_StdOut { color: #800023; }
.type_StdErr { color: #800023; }
.type_MidiMsg { color: #800023; }
.type_MidiIn { color: #800023; }
.type_MidiOut { color: #800023; }
.type_MidiRW { color: #800023; }
.type_MidiMsgOut { color: #800023; }
.type_MidiMsgIn { color: #800023; }
.type_Osc { color: #A200EC; }
.type_TriOsc { color: #A200EC; }
.type_Phasor { color: #A200EC; }
.type_Chubgraph { color: #A200EC; }
.type_SinOsc { color: #A200EC; }
.type_SawOsc { color: #A200EC; }
.type_SqrOsc { color: #A200EC; }
.type_PulseOsc { color: #A200EC; }
.type_GenX { color: #A200EC; }
.type_Gen5 { color: #A200EC; }
.type_Gen7 { color: #A200EC; }
.type_Gen9 { color: #A200EC; }
.type_Gen10 { color: #A200EC; }
.type_Gen17 { color: #A200EC; }
.type_CurveTable { color: #A200EC; }
.type_WarpTable { color: #A200EC; }
.type_Chugen { color: #A200EC; }
.type_UGen_Multi { color: #A200EC; }
.type_UGen_Stereo { color: #A200EC; }
.type_FilterStk { color: #A200EC; }
.type_OnePole { color: #A200EC; }
.type_WvOut { color: #A200EC; }
.type_WvOut2 { color: #A200EC; }
.type_BLT { color: #A200EC; }
.type_Blit { color: #A200EC; }
.type_BlitSquare { color: #A200EC; }
.type_BlitSaw { color: #A200EC; }
.type_JetTabl { color: #A200EC; }
.type_Mesh2D { color: #A200EC; }
.type_MidiFileIn { color: #800023; }
.type_FFT { color: #A200EC; }
.type_IFFT { color: #A200EC; }
.type_Windowing { color: #800023; }
.type_Flip { color: #A200EC; }
.type_DAC { color: #A200EC; }
.type_ADC { color: #A200EC; }
.type_Mix2 { color: #A200EC; }
.type_Pan2 { color: #A200EC; }
.type_Gain { color: #A200EC; }
.type_Noise { color: #A200EC; }
.type_CNoise { color: #A200EC; }
.type_Impulse { color: #A200EC; }
.type_Step { color: #A200EC; }
.type_FullRect { color: #A200EC; }
.type_HalfRect { color: #A200EC; }
.type_DelayP { color: #A200EC; }
.type_SndBuf { color: #A200EC; }
.type_SndBuf2 { color: #A200EC; }
.type_Dyno { color: #A200EC; }
.type_LiSa { color: #A200EC; }
.type_LiSa10 { color: #A200EC; }
.type_FilterBasic { color: #A200EC; }
.type_BRF { color: #A200EC; }
.type_BPF { color: #A200EC; }
.type_LPF { color: #A200EC; }
.type_HPF { color: #A200EC; }
.type_ResonZ { color: #A200EC; }
.type_BiQuad { color: #A200EC; }
.type_Teabox { color: #A200EC; }
.type_StkInstrument { color: #A200EC; }
.type_BandedWG { color: #A200EC; }
.type_BlowBotl { color: #A200EC; }
.type_BlowHole { color: #A200EC; }
.type_Bowed { color: #A200EC; }
.type_Brass { color: #A200EC; }
.type_Clarinet { color: #A200EC; }
.type_Flute { color: #A200EC; }
.type_Mandolin { color: #A200EC; }
.type_ModalBar { color: #A200EC; }
.type_Moog { color: #A200EC; }
.type_Saxofony { color: #A200EC; }
.type_Shakers { color: #A200EC; }
.type_Sitar { color: #A200EC; }
.type_StifKarp { color: #A200EC; }
.type_VoicForm { color: #A200EC; }
.type_FM { color: #A200EC; }
.type_BeeThree { color: #A200EC; }
.type_FMVoices { color: #A200EC; }
.type_HevyMetl { color: #A200EC; }
.type_PercFlut { color: #A200EC; }
.type_Rhodey { color: #A200EC; }
.type_TubeBell { color: #A200EC; }
.type_Wurley { color: #A200EC; }
.type_Delay { color: #A200EC; }
.type_DelayA { color: #A200EC; }
.type_DelayL { color: #A200EC; }
.type_Echo { color: #A200EC; }
.type_Envelope { color: #A200EC; }
.type_ADSR { color: #A200EC; }
.type_TwoPole { color: #A200EC; }
.type_OneZero { color: #A200EC; }
.type_TwoZero { color: #A200EC; }
.type_PoleZero { color: #A200EC; }
.type_JCRev { color: #A200EC; }
.type_NRev { color: #A200EC; }
.type_PRCRev { color: #A200EC; }
.type_Chorus { color: #A200EC; }
.type_Modulate { color: #A200EC; }
.type_PitShift { color: #A200EC; }
.type_SubNoise { color: #A200EC; }
.type_WvIn { color: #A200EC; }
.type_WaveLoop { color: #A200EC; }
.type_pilF { color: #A200EC; }
.type_DCT { color: #A200EC; }
.type_IDCT { color: #A200EC; }
.type_FeatureCollector { color: #A200EC; }
.type_Centroid { color: #A200EC; }
.type_Flux { color: #A200EC; }
.type_RMS { color: #A200EC; }
.type_RollOff { color: #A200EC; }
.type_AutoCorr { color: #A200EC; }
.type_XCorr { color: #A200EC; }
.type_ZeroX { color: #A200EC; }
.type_Machine { color: #800023; }
.type_Std { color: #800023; }
.type_KBHit { color: #800023; }
.type_ConsoleInput { color: #800023; }
.type_StringTokenizer { color: #800023; }
.type_Math { color: #800023; }
.type_OscOut { color: #800023; }
.type_OscArg { color: #800023; }
.type_OscMsg { color: #800023; }
.type_OscIn { color: #800023; }
.type_OscSend { color: #800023; }
.type_OscEvent { color: #800023; }
.type_OscRecv { color: #800023; }
.type_RegEx { color: #800023; }
